{{- /*gotype: github.com/go-riscv/go/cmd/release.Context*/ -}}

## Release

### {{ .Version }}

| File name | Kind | Size | SHA256 |
|-----------|------|------|--------|
{{- range .Files }}
| [{{ .F .Name }}]({{ .URL }}) | {{ .F .Kind }} | {{ .F .Size }} | {{ .F .SHA256 }} |
{{- end }}

#### Download

```bash
wget "{{ .Archive.URL }}"
```

#### Verify

```bash
echo "{{ .Archive.SHA256 }} {{ .Archive.Name }}" | sha256sum --check
```

#### Install

```bash
sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf {{ .Archive.Name }}
```

#### Add to PATH

You can create `/etc/profile.d/go.sh`.

```bash
sudo nano /etc/profile.d/go.sh
```

Write following contents:

```bash
#!/bin/bash
# sets envs for golang
if [ -z "$GOPATH" ]; then
  export GOROOT="/usr/local/go"
  export GOPATH="/go"
  export PATH="$GOPATH/bin:$GOROOT/bin:$PATH"
fi
```

Save and make it executable:

```bash
sudo chmod +x /etc/profile.d/go.sh
```

You can check it without creating new shell session:

```
source /etc/profile.d/go.sh
go version
```

Your release will be available as `_out/go1.20.2.linux-riscv64.tar.gz`:

```console
$ file _out/go1.20.2.linux-riscv64.tar.gz
_out/go1.20.2.linux-riscv64.tar.gz: gzip compressed data, from Unix, original size modulo 2^32 373309440
```
